<!DOCTYPE html>
<html lane = "en">
<% include ../common/header.ejs %>
<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Lotto API</h1>
      <p class="lead">...</p>
    </div>
  </div>
</div>
<% include ../common/footer.ejs %>
</html>
