<!DOCTYPE html>
<html lane = "en">
<% include ../common/header.ejs %>
<div class="container">
  <div class="col-md-6">
    <div id="logbox">
      <form id = "signup" method = "post" action = "/sign_up">
        <h1>Create an Account</h1>
        <input name="user_email" type="email" placeholder="Email address" class="input pass"/>
        <input name="user_pwd" type="password" placeholder="Choose a password" required="required" class="input pass"/>
        <input name="user_pwd_confirm" type="password" placeholder="Confirm password" required="required" class="input pass"/>
        <input type="submit" value="Sign me up!" class="inputButton"/>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-12">
    <div id = "sign_up_form_container">
      <form id = "sign_up_form" method = "post" action = "/sign_up">
        <h1>Create your account</h1>
        <input name = "user_email" type = "email" placeholder="Email address" />
        <input name = "user_pwd" type = "password" placeholder="Enter a password" required = "required" />
        <input name = "user_pwd_confirm" type = "password" placeholder="Confirm password" required = "required" />
      </form>
    </div>
  </div>
</div>
<% include ../common/footer.ejs %>
</html>
