<!DOCTYPE html>
<html lane = "en">
<% include ./common/header.ejs %>
      <main class="mdl-layout__content">

        <%= 'user_list' + data%>

      </main>
<% include ./common/footer.ejs %>
</html>
