<!DOCTYPE html>
<html lane = "en">
  <head>
    <% include ./common/header.ejs %>
  </head>
  <body>
    <% include ./common/navbar.ejs %>
    <div class="container-fluid">
      <h3>Lama-API Index</h3>
      <%=user_email %>
    </div>
    <% include ./common/footer.ejs %>
  </body>
</html>
