<!DOCTYPE html>
<html lane = "en">
<% include ./common/header.ejs %>
      <main class="mdl-layout__content">
        <ul class="list-user mdl-list">
<% for(var i = 0; i < user_list.length; i++) { %>
          <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar">person</i>
              <span><%=user_list[i].user_id %></span>
              <span class="mdl-list__item-sub-title"><%=user_list[i].noti_content %></span>
            </span>
            <span class="mdl-list__item-secondary-content">
              <span class="mdl-list__item-secondary-info"><%=user_list[i].noti_date %> (<%=user_list[i].noti_time %>)</span>
              <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">start</i></a>
            </span>
          </li>
<% } %>
        </ul>
      </main>
<% include ./common/footer.ejs %>
</html>
