<!DOCTYPE html>
<html lane = "en">
<% include ./common/header.ejs %>
<% include ./common/navbar.ejs %>
<div class="container-fluid">
  <h3>Lama-API Index</h3>
</div>
<% include ./common/footer.ejs %>
</html>
